{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container">
 <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    
</div>
{% endblock %}
